.container {
    display: flex;
    margin: 0.25em 0;

    .label {
        margin-right: .5em;
        font-weight: 600;
    }

    .input {
        display: flex;
        align-items: center;
        gap: .25em;
    }
}