@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //transition: .35s;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.zyxma__container {
  .textBox-text::-webkit-scrollbar  {
    width: 0.5em;
  }

  .textBox-text::-webkit-scrollbar-track  {
    background: transparent;
  }

  .textBox-text::-webkit-scrollbar-thumb  {
    background: rgb(203, 213, 225);
    border-radius: 5px;
  }
}

@media (max-width: 320px) {
  .container {
    .title {
      font-size: 1.8rem;
    }
  }
}